<html>

<head>
  <link rel="stylesheet" href="style.css">
</head>

<body class="email-template">
  <div class="header">
    <span><%= t('company') %></span>
  </div>

  <div class="content">
    <%- content %>
  </div>

  <div class="footer">
    <%= t('copyright', { year: moment().format('YYYY'), company: t('company') }) %>
  </div>
</body>

</html>
