.email-template{
  background-color: #eee;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.header{
  font-size: 26px;
  background-color: #333;
  color: #eee;
  padding: 16px;
}

.content {
  margin: 16px 0;
  padding: 16px;
}

.footer{
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 16px;
  font-size: 12px;
  text-align: center;
}
